[flake8]
max-line-length = 120
# per-file-ignores =
#     ./settings.py: E501
exclude =
    ./ext
extend-ignore:
    # E203 whitespace before ':' conflicts with black code formatting. Will be ignored in flake8
    E203
